            ------
            Download SMS Components
            ------
            Martin Scholl
            ------
            28/12/2010

{Download SMS component}

    Here you can find the customisation jar for the cids Navigator that contains the
    SUDPLAN SMS specific extensions.

    The SUDPLAN extension is distributed unter the
    {{{./license.html}GNU Lesser General Public License, Version 3}}.

{SUDPLAN SMS extension ${projectVersion}}
~~ TODO: link to sub sites!!!

  All binaries are signed by the cismet GmbH with the Java jar signer tool.


*--------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+----------+
||                         ||Binary                                                                                                                                                                          ||MD5     ||SHA1     |
*--------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+----------+
|Sudplan SMS binary jar    |{{{http://flexo.cismet.de:8081/artifactory/repo/de/cismet/cids/custom/sudplan/cids-custom-sudplan/1.0-SNAPSHOT/cids-custom-sudplan-1.0-SNAPSHOT.jar}${projectName}-${projectVersion}.${projectPackaging}}}               |{{{http://flexo.cismet.de:8081/artifactory/repo/de/cismet/cids/custom/sudplan/cids-custom-sudplan/1.0-SNAPSHOT/cids-custom-sudplan-1.0-SNAPSHOT.jar.md5}MD5}}  |{{{http://flexo.cismet.de:8081/artifactory/repo/de/cismet/cids/custom/sudplan/cids-custom-sudplan/1.0-SNAPSHOT/cids-custom-sudplan-1.0-SNAPSHOT.jar.sha1}SHA1}}   |
*--------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+----------+
|Sudplan SMS sources jar   |{{{http://flexo.cismet.de:8081/artifactory/repo/de/cismet/cids/custom/sudplan/cids-custom-sudplan/1.0-SNAPSHOT/cids-custom-sudplan-1.0-SNAPSHOT-sources.jar}${projectName}-${projectVersion}.${projectPackaging}}}               |{{{http://flexo.cismet.de:8081/artifactory/repo/de/cismet/cids/custom/sudplan/cids-custom-sudplan/1.0-SNAPSHOT/cids-custom-sudplan-1.0-SNAPSHOT-sources.jar.md5}MD5}}  |{{{http://flexo.cismet.de:8081/artifactory/repo/de/cismet/cids/custom/sudplan/cids-custom-sudplan/1.0-SNAPSHOT/cids-custom-sudplan-1.0-SNAPSHOT-sources.jar.sha1}SHA1}}   |
*--------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+----------+
