            ------
            Download SMS Components
            ------
            Martin Scholl
            ------
            28/12/2010

{Download SMS component}

    Here you can find the customisation jar for the cids Navigator that contains the
    SUDPLAN SMS specific extensions.

    The SUDPLAN extension is distributed unter the
    {{{./license.html}GNU Lesser General Public License, Version 3}}.

{SUDPLAN SMS extension ${projectVersion}}
~~ TODO: link to sub sites!!!

  All binaries are signed by the cismet GmbH with the Java jar signer tool.


*--------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+----------+
||                         ||Binary                                                                                                                                                                          ||MD5     ||SHA1     |
*--------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+----------+
|Sudplan SMS binary jar    |{{{http://sudplanwp3.cismet.de/sms/dl/${projectName}-${projectVersion}.${projectPackaging}}${projectName}-${projectVersion}.${projectPackaging}}}               |{{{${projectName}-${projectVersion}.${projectPackaging}.md5}MD5}}  |{{{${projectName}-${projectVersion}.${projectPackaging}.sha1}SHA1}}   |
*--------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+----------+
|Sudplan SMS source jar    |{{{http://sudplanwp3.cismet.de/sms/dl/${projectName}-${projectVersion}-sources.${projectPackaging}}${projectName}-${projectVersion}-sources.${projectPackaging}}}               |{{{${projectName}-${projectVersion}-sources.${projectPackaging}.md5}MD5}}  |{{{${projectName}-${projectVersion}-sources.${projectPackaging}.sha1}SHA1}}   |
*--------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+----------+
