            ------
            3D component
            ------
            Martin Scholl
            ------
            28/12/2010

{Standalone 3D component}

 In the Sudplan project a powerful 3D component is developed to provide an enhanced visualisation of pilot specific data.
 The component is integrated in the Sudplan SMS. Watch it in action in the Wuppertal Pilot Video:

%{snippet|url=file://${baseDir}/src/site/resources/threeD_embedded_video.html|verbatim=false}

 However, the current most version of the 3D component is capable of running standalone. You may do so from the
 {{{http://sudplan.kl.dfki.de} 3D component web site}}.
